node_modules
.env
coverage
coverage.json
typechain
.idea
#Hardhat files
cache
artifacts
docs
solt
deployments/bsctestnet
deployments/bsctestnet-prod
deployments/bsctestnet-stage
scripts/data/vesting.csv
deployments/hardhat
deployments/local
deployments/localhost
.vscode
typechain-types